# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - name: Configure git
        run: git config --global core.autocrlf false

      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install brew packages (macOS)
        if: runner.os == 'macOS'
        run : |
          brew install automake netcdf udunits

      - name: Install R dependencies (macOS)
        if: runner.os == 'macOS'
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, pbdMPI=?ignore, Rmpi=?ignore
          needs: check

      - name: Install R dependencies (not macOS)
        if: runner.os != 'macOS'
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, pbdMPI, Rmpi
          needs: check

      - name: Check RNetCDF package (macOS)
        if: runner.os == 'macOS'
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
        env:
          _R_CHECK_FORCE_SUGGESTS_: false

      - name: Check RNetCDF package (not macOS)
        if: runner.os != 'macOS'
        uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
	  args: 'c("--no-manual", "--as-cran")'
        env:
          _R_CHECK_FORCE_SUGGESTS_: true
