# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: check-linux-mpi

jobs:
  check-linux-mpi:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }}_r-${{ matrix.config.r }}_mpi

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,   r: 'release', http-user-agent: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install system dependencies
        run: |
            sudo apt-get install -y libnetcdf-mpi-dev libopenmpi-dev openmpi-bin

#      - name: Install Rmpi
#        run: |
#          Rscript -e 'install.packages("Rmpi", type="source", configure.args="--with-mpi=/usr/lib/x86_64-linux-gnu/openmpi --with-Rmpi-type=OPENMPI")'
#          Rscript -e 'for (path in .libPaths()) {cat("All packages on ", path, ":\n"); print(list.files(path)); }'

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check
          cache: true
          cache-version: 2

# r-lib/actions/check-r-package@v2 seems unable to find MPI packages
# installed by setup-r-dependencies@v2.
# For now, we use a simple test script below.
      - name: Check RNetCDF with MPI packages
        run: |
          R CMD build .
          Rscript -e "library(Rmpi); library(pbdMPI);"
          R CMD check --no-manual \
            --install-args=--configure-args="--without-nc-config \
              --with-mpiexec=mpiexec.openmpi CC=mpicc.openmpi \
              CPPFLAGS=-I/usr/lib/x86_64-linux-gnu/netcdf/mpi/include \
              LDFLAGS=-L/usr/lib/x86_64-linux-gnu/netcdf/mpi" \
            RNetCDF_*.*-*.tar.gz
        shell: bash

      - name: Upload check directory
        if: success() || failure()
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.config.os }}_r-${{ matrix.config.r }}_mpi_check
          path: RNetCDF.Rcheck/
          retention-days: 5

      - name: Show RNetCDF install output
        run: |
          echo ::group::Show RNetCDF install output
          cat RNetCDF.Rcheck/00install.out
          echo ::endgroup::
        shell: bash

      - name: Show RNetCDF test output
        run: |
          echo ::group:: Show RNetCDF test output
          cat RNetCDF.Rcheck/tests/RNetCDF-test.Rout*
          echo ::endgroup::
        shell: bash

